// COLOR STYLE
$white: #fff;
$black: #000000;
$gray: #4D4D4D;
$light-gray: #B0B0B0;

$green: #233000;
$olive: #5E6600;
$light-olive: #9CAA00;
$light: #EBF0E4;

// TEXT STYLE
$lato-bold: url("../fonts/Lato-Bold.ttf");
$lato-regular: url("../fonts/Lato-Regular.ttf");
$rufina-bold: url("../fonts/Rufina-Bold.ttf");