// COLOR STYLE
$white: #fff;
$black: #000000;
$gray: #4D4D4D;
$light-gray: #B0B0B0;

$green: #233000;
$olive: #5E6600;
$light-olive: #9CAA00;
$light: #EBF0E4;

//TEXT STYLE
$font-lato-bold: "lato-bold";
$font-lato-regular: "lato-regular";
$font-rufina: "rufina";

//HEADING
@mixin largeTitle () {
    color: $white;
    font-family: $font-rufina;
    font-weight: 700;

    @media screen and (max-width: 1920px) {
        font-size: 148px;
        line-height: 152px;
    }

    @media screen and (max-width: 1552px) {
        font-size: 135px;
    }

    @media screen and (max-width: 1475px) {
        font-size: 100px;
    }
}

@mixin heading1 () {
    font-family: $font-rufina;
    font-weight: 700;

    @media screen and (max-width: 1920px) {
        font-size: 108px;
        line-height: 120px;
    }

    @media screen and (max-width: 1080px) {
        font-size: 90px;
        line-height: 120px;
    }
}

@mixin heading2 () {
    font-family: $font-rufina;
    font-size: 88px;
    font-weight: 700;
    line-height: 120%;
}

@mixin heading3 () {
    font-family: $font-rufina;
    font-weight: 700;

    @media screen and (max-width: 1920px) {
        font-size: 68px;
        line-height: 84px;
    }

    @media screen and (max-width: 1080px) {
        font-size: 48px;
        line-height: 64px;
    }
}

@mixin heading4 () {
    font-family: $font-rufina;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

@mixin heading5 () {
    font-family: $font-rufina;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

@mixin heading6 () {
    font-family: $font-rufina;
    font-size: 26px;
    font-weight: 700;
    line-height: 48px;
}

@mixin heading7 () {
    font-family: $font-rufina;
    font-size: 20px;
    font-weight: 400;
    line-height: 126%;
}

@mixin heading8 () {
    font-family: $font-rufina;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.36px;
}

@mixin body () {
    font-family: $font-lato-regular;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0.48px;
}

@mixin excerpt () {
    font-family: $font-lato-regular;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.8px;
    letter-spacing: 0.44px;
}

@mixin widgetstext () {
    font-family: $font-lato-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}