// COLOR STYLE
$white: #fff;
$black: #000000;
$gray: #4D4D4D;
$light-gray: #B0B0B0;

$green: #233000;
$olive: #5E6600;
$light-olive: #9CAA00;
$light: #EBF0E4;

//TEXT STYLE
$font-lato-bold: "lato-bold";
$font-lato-regular: "lato-regular";
$font-rufina: "rufina";

//TEXT DECORATION
$text-align-center: center;
$justify-content: justify;

//HEADING
@mixin largeTitle () {
    color: $white;
    font-family: $font-rufina;
    font-weight: 700;

    @media screen and (max-width: 2000px) {
        font-size: 148px;
        line-height: 152px;
    }

    @media screen and (max-width: 1552px) {
        font-size: 135px;
    }

    @media screen and (max-width: 1475px) {
        font-size: 100px;
    }

    @media screen and (max-width: 1369px) {
        font-size: 95px;
        line-height: 145px;
    }

    @media screen and (max-width: 1117px) {
        font-size: 90px;
        line-height: 142px;
    }

    @media screen and (max-width: 1014px) {
        font-size: 60px;
        line-height: 102px;
    }

    @media screen and (max-width: 805px) {
        font-size: 45px;
        line-height: 70px;
    }
    @media screen and (max-width: 748px) {
        font-size: 38px;
        line-height: 50px;
    }
}

@mixin heading1 () {
    font-family: $font-rufina;
    font-weight: 700;

    @media screen and (max-width: 2000px) {
        font-size: 108px;
        line-height: 120px;
    }

    @media screen and (max-width: 1250px) {
        font-size: 98px;
        line-height: 110px;
    }

    @media screen and (max-width: 1080px) {
        font-size: 90px;
        line-height: 100px;
    }

    @media screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 100px;
    }
    @media screen and (max-width: 375px) {
        font-size: 28px;
        line-height: 50px;
    }
}

@mixin heading2 () {
    font-family: $font-rufina;
    font-size: 88px;
    font-weight: 700;
    line-height: 120%;
}

@mixin heading3 () {
    font-family: $font-rufina;
    font-weight: 700;

    @media screen and (max-width: 2000px) {
        font-size: 68px;
        line-height: 84px;
    }

    @media screen and (max-width: 1368px) {
        font-size: 60px;
        line-height: 80px;
    }

    @media screen and (max-width: 1250px) {
        font-size: 58px;
        line-height: 74px;
    }

    @media screen and (max-width: 1080px) {
        font-size: 48px;
        line-height: 64px;
    }
    @media screen and (max-width: 748px) {
        font-size: 38px;
        line-height: 50px;
    }
    @media screen and (max-width: 375px) {
        font-size: 28px;
        line-height: 40px;
    }
}

@mixin heading4 () {
    font-family: $font-rufina;
    font-weight: 700;

    @media screen and (max-width: 2000px) {
        font-size: 48px;
        line-height: 64px;
    }

    @media screen and (max-width: 1250px) {
        font-size: 38px;
        line-height: 54px;
    }
    @media screen and (max-width: 600px) {
        font-size: 28px;
        line-height: 44px;
    }
}

@mixin heading5 () {
    font-family: $font-rufina;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

@mixin heading6 () {
    font-family: $font-rufina;
    font-size: 26px;
    font-weight: 700;
    line-height: 48px;
}

@mixin heading7 () {
    font-family: $font-rufina;
    font-size: 20px;
    font-weight: 400;
    line-height: 126%;
}

@mixin heading8 () {
    font-family: $font-rufina;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.36px;
}

@mixin body () {
    font-family: $font-lato-regular;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0.48px;
    @media screen and (max-width: 511px) {
        font-size: 20px;
        line-height: 28px;
    }
}

@mixin excerpt () {
    font-family: $font-lato-regular;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.8px;
    letter-spacing: 0.44px;
}

@mixin widgetstext () {
    font-family: $font-lato-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}