.cards-container {
  padding: 128px 138px 138px;
  overflow: hidden;
}
.cards-container .card-info {
  grid-column: span 12;
  text-align: center;
  grid-row: 1;
}
.cards-container .card-info .card-info__title {
  margin-bottom: 18px;
}
.cards-container .card-info .card-info__subtitle {
  margin-bottom: 126px;
}
.cards-container .card-group {
  grid-column: span 12;
  grid-row: 2;
  padding: 0;
}
.cards-container .card-group .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cards-container .card-group .slick-slide {
  cursor: pointer;
  margin-right: 30px;
}
.cards-container .card-group .slick-slide:hover {
  color: #fff;
}
.cards-container .card-group .slick-slide:last-child {
  margin-right: 0;
}
.cards-container .card-group .slick-slide .card__name {
  position: absolute;
  top: 40px;
  left: 40px;
}
.cards-container .card-group .slick-dots {
  bottom: -70px;
}
.cards-container .card-group .overlay {
  position: relative;
}
.cards-container .card-group .overlay:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(225deg, rgb(35, 48, 0), rgb(156, 170, 0), rgb(235, 240, 228));
}

@media screen and (max-width: 1250px) {
  .cards-container {
    padding: 128px 30px 138px;
  }
}
@media screen and (max-width: 571px) {
  .cards-container {
    padding: 50px 30px 138px;
  }
}
@media screen and (max-width: 375px) {
  .cards-container {
    padding: 50px 10px 138px;
  }
}