.table-menu__item {
  grid-column: span 6;
  margin: 17px 0;
  cursor: pointer;
}
.table-menu__item .item__price {
  text-align: right;
  border-bottom: 4px dotted #000000;
}
.table-menu__item .item__title {
  margin: 24px 0;
  min-height: 170px;
  text-transform: none;
}
.table-menu__item .item__subtitle {
  min-height: 155px;
}