.header {
  background-color: transparent;
  position: absolute;
  padding-top: 47px;
  padding-bottom: 47px;
}
.header .logo {
  grid-column: 1/4;
}
.header .block-burger {
  grid-column: 5/span 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .menu {
  grid-column: 6/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}
.header .menu .menu__item a {
  display: block;
}
.header .menu .telephone {
  margin-right: 50px;
}
.header .drop-down {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #233000;
  background: url("./image.png") no-repeat;
  background-size: cover;
  width: 100%;
}
.header .drop-down .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .drop-down .menu .menu__item {
  margin: 20px 0;
}

@media screen and (max-width: 1250px) {
  .header {
    padding: 30px;
  }
  .header .menu .telephone {
    margin-right: 10px;
  }
}
@media screen and (max-width: 960px) {
  .header .menu {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .header .menu {
    display: none;
  }
  .header .block-burger {
    grid-column: 12;
  }
  .header .drop-down .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 571px) {
  .header .close {
    top: 30px;
    right: 30px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 30px 10px;
  }
}