@import "../../styles/vars.scss";

.chef {
    background: $light;
    box-sizing: border-box;

    .cook {
        padding: 203px 0;
        background: url("./Leaf.svg") no-repeat;
        background-size: 30%;
        background-position: right bottom;

        .cook-photo {
            grid-column: span 6;
            grid-row: 1 / 2;
            position: relative;
            background: url("./Leaf.svg") no-repeat;
            background-size: 100%;
            background-position: left top;

            .cook-photo__avatar {
                width: 100%;
                position: relative;
                z-index: 1;
            }

            .cook-photo__leaf {
                position: absolute;
                top: -39px;
                left: -256px;
                width: 100%;
            }
        }

        .cook-info {
            grid-column: span 6;
            grid-row: 1;

            .cook-info__title {
                margin-bottom: 18px;
            }

        }
    }
}


@media screen and (max-width: 1250px) {
    .chef {
        .cook {


            .cook-photo {
                grid-column: span 6;
                grid-row: 1;
            }
        }
    }
}

@media screen and (max-width: 902px) {
    .chef {
        .cook {
            padding: 90px 10px 130px;

            .cook-info {
                .cook-info__title {
                    font-size: 60px;
                    line-height: 70px;
                }

            }
        }
    }
}

@media screen and (max-width: 571px) {
    .chef {
        .cook {
            .cook-photo {
                grid-column: span 12;
                grid-row: 1;


            }

            .cook-info {
                grid-column: span 12;
                grid-row: 2;
                background: none;

                .cook-info__title {
                    text-align: $text-align-center;

                }

                .cook-info__subtitle {
                    text-align: $justify-content;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .chef {
        .cook {
            .cook-info {
                .cook-info__title {
                    font-size: 28px;
                    line-height: 50px;

                }
            }
        }
    }
}