.healthy {
  background-color: #233000;
  padding-top: 208px;
}
.healthy .text-container {
  grid-column: 1/span 8;
  grid-row: 1/2;
}
.healthy .text-container .text-container__title {
  padding-top: 102px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.healthy .text-container .text-container__subtitle {
  width: 55%;
  color: #fff;
}
.healthy .photo-container {
  grid-column: 7/span 6;
  grid-row: 1/2;
}
.healthy .photo-container .photo-container__mainphoto {
  position: relative;
  transform: translate(0, 24%);
  width: 100%;
  -webkit-transform: translate(0, 24%);
  -moz-transform: translate(0, 24%);
  -ms-transform: translate(0, 24%);
  -o-transform: translate(0, 24%);
}
.healthy .spices-container {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
  position: relative;
  bottom: -100px;
  left: -100px;
  z-index: 1;
}
.healthy .spices-container .spices-container__item {
  grid-column: span 2;
  width: 100%;
}
.healthy .gallery-container {
  grid-column: span 12;
  grid-row: 5;
  padding: 240px 0 138px 0;
}
.healthy .gallery-container .gallery-container--left {
  grid-column: 1/span 6;
}
.healthy .gallery-container .gallery-container--left .left-title {
  padding: 54px 0;
  color: #fff;
}
.healthy .gallery-container .gallery-container--right {
  grid-column: 9/span 4;
}
.healthy .gallery-container .gallery-container__subtitle {
  width: 90%;
  padding-bottom: 84px;
  color: #fff;
}
.healthy .gallery-container .gallery-container__image {
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .healthy {
    padding: 90px 30px;
  }
  .healthy .photo-container .photo-container__mainphoto {
    transform: translate(0, 33%);
    -webkit-transform: translate(0, 33%);
    -moz-transform: translate(0, 33%);
    -ms-transform: translate(0, 33%);
    -o-transform: translate(0, 33%);
  }
  .healthy .gallery-container .gallery-container--left {
    grid-column: 1/span 7;
  }
  .healthy .gallery-container .gallery-container--right {
    grid-column: 8/span 5;
  }
}
@media screen and (max-width: 1048px) {
  .healthy {
    padding: 90px 30px;
  }
  .healthy .photo-container {
    grid-column: 6/span 7;
  }
}
@media screen and (max-width: 806px) {
  .healthy .gallery-container {
    padding: 183px 0 47px 0;
  }
}
@media screen and (max-width: 675px) {
  .healthy .photo-container {
    grid-column: 6/span 6;
  }
}
@media screen and (max-width: 571px) {
  .healthy .text-container {
    grid-column: span 12;
  }
  .healthy .text-container .text-container__title {
    padding-top: 40px;
    text-align: center;
  }
  .healthy .text-container .text-container__subtitle {
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
  }
  .healthy .photo-container {
    grid-column: span 12;
    grid-row: 2;
  }
  .healthy .photo-container .photo-container__mainphoto {
    position: static;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .healthy .spices-container {
    bottom: 72px;
    left: 0;
  }
  .healthy .gallery-container {
    padding: 1px 0 47px 0;
  }
  .healthy .gallery-container .gallery-container--left,
  .healthy .gallery-container .gallery-container--right {
    grid-column: span 12;
    grid-row: 1;
  }
  .healthy .gallery-container .gallery-container--right {
    grid-row: 2;
  }
  .healthy .gallery-container .left-title {
    text-align: center;
  }
  .healthy .gallery-container .gallery-container__subtitle {
    text-align: justify;
    width: 100%;
    padding-bottom: 44px;
  }
}
@media screen and (max-width: 375px) {
  .healthy {
    padding: 90px 10px;
  }
}