@import "../../styles/vars.scss";

.features {
    padding: 207px 138px 190px;

    .features__iconbox {
        grid-column: span 4;
        text-align: center;

        .iconbox__circle {
            width: 260px;
            height: 260px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $light;
            border-radius: 260px;
        }

        .iconbox__title {
            margin: 39px 0;
            min-height: 130px;
        }
    }
}

@media screen and (max-width: 1250px) {
    .features {
        padding: 135px 30px 72px;

        .features__iconbox {


            .iconbox__circle {
                width: 159px;
                height: 159px;
                border-radius: 78px;
            }

        }
    }
}

@media screen and (max-width: 571px) {
    .features {
        padding: 100px 30px 72px;

        .features__iconbox {
            grid-column: span 12;

            .iconbox__circle {
                width: 120px;
                height: 120px;
                padding:10px;
                border-radius: 260px;
            }

            .iconbox__title {
                margin: 6px 0 10px;
                min-height: 50px;
            }

            .iconbox__subtitle {
                margin-bottom: 70px;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .features {
        padding: 100px 10px 72px;
    }
}