@import "../../styles/vars.scss";

.blog {
    padding: 130px 138px 105px;
    box-sizing: border-box;


    .post {
        grid-column: span 6;
        position: relative;

        .btn--olive {
            position: absolute;
            top: 0;
            right: 0;
        }

        .post__photo {
            width: 100%;
            margin-bottom: 68px;
        }

        .post__title {
            padding-bottom: 18px;
            border-bottom: 4px dotted $black;
            height: 214px;
        }

        .post__subtitle {
            padding: 18px 0 49px;
            height: 240px;
        }

        .btnmore--padding {
            padding-right: 10px;
        }

        .btnolivetext {
            color: $white;
        }
    }
}

@media screen and (max-width: 1250px) {
    .blog {
        padding: 130px 30px 105px;
    }
}